<!DOCTYPE html>

<html class=" js  js no-touch"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <title>TnP | IIIT Senapati Manipur</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="The Training &amp; Placement Cell, IIIT Senapati facilitates the process of placement of students passing out from the Institute besides collaborating with leading organizations and institutes in setting up of internship and training program of students.">
<meta name="author" content="Webteam,IIIT Senapati">
<meta name="keywords" content="iiit senapati manipur,iiits,iiitm,manipur,placements,tnp,training and placement,statistics,package range,highest package,percentage,tnp cell">
  <link rel="stylesheet" type="text/css" href="./iiitm/normal.css">
  <link rel="stylesheet" href="./iiitm/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./iiitm/style.css">
  <link rel="stylesheet" href="./iiitm/animation.css">
  <script src="./iiitm/cb=gapi.loaded_0" async=""></script><script src="./iiitm/webfont.js"></script>
  <script type="text/javascript" src="./iiitm/Chart.min.js"></script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="./images/iiitm-logo.png">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
<style>
.team-img{
	height:250px;
	width:200px;
}


#lgbox1 ul li:nth-child(1){
	color:#F74;
}
#lgbox1 ul li:nth-child(2){
	color:white;
}
#lgbox1 ul li:nth-child(3){
	color:#FDB;
}
#lgbox1 ul li:nth-child(4){
	color:#000;
}
#lgbox1 ul li:nth-child(5){
	color:#0FF;
}
#lgbox1 ul li:nth-child(6){
	color:#CCC;
}
#lgbox1 ul li:nth-child(7){
	color:#FE0;
}

.marquee-outer {
 height: 100px;	
 overflow: hidden;
 position: relative;
 color: orange;
}
.marquee-inner {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 10s linear infinite;
 -webkit-animation: scroll-left 10s linear infinite;
 animation: scroll-left 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}


#lgbox2 ul li:nth-child(1){
	color:#065;
}#lgbox2 ul li:nth-child(2){
	color:#fff;
}#lgbox2 ul li:nth-child(3){
	color:#0e5;
}
#lgbox2 ul li:nth-child(4){
	color:#46BFBD;
}#lgbox2 ul li:nth-child(5){
	color:#FDB45C;
}#lgbox2 ul li:nth-child(6){
	color:#000;
}#lgbox2 ul li:nth-child(7){
	color:#00f;
}#lgbox2 ul li:nth-child(8){
	color:#ccc;
}#lgbox2 ul li:nth-child(9){
	color:#fe0;
}
 .no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/images/128x128/Preloader_7.gif) center no-repeat #fff;
}

.whiteclass p{
	color: white;
}

</style>
  
  <script type="text/javascript" src="./iiitm/plusone.js" gapi_processed="true"></script></head>
<body style="">
    
  <div class="fix-header" id="home">
    <div class="w-container">
      <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400"><div class="w-nav-overlay" data-wf-ignore=""></div></div>
    </div>
  </div>
  <div class="fixed-header">
    <div class="w-container container" style="width:100%;">
      <div class="w-row">

       <!--///////////////////////////////////////////////////////
       // Logo section 
       //////////////////////////////////////////////////////////-->


        <div class="w-col w-col-3 titleheading">
          <!--<a href="#"><img class="logo" src="images/logo.png" alt="Elegance"></a>-->
          <span style="color:#e85c0b;">TnP</span> <a href="http://www.iiitmanipur.ac.in">IIIT Senapati Manipur</a>
        </div>
		
        <!--///////////////////////////////////////////////////////
       // End Logo section 
       //////////////////////////////////////////////////////////-->

        <div class="w-col w-col-9">

       <!--///////////////////////////////////////////////////////
       // Menu section 
       //////////////////////////////////////////////////////////-->


          <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
            <div class="w-container nav">
              <nav class="w-nav-menu nav-menu" role="navigation" style="backface-visibility: hidden; transform: translateX(0px) translateY(0px);">

                <a class="w-nav-link menu-li" href="http://www.iiitmanipur.ac.in" style="max-width: 900px;">HOME</a>
                 <a class="w-nav-link menu-li" href="file:///home/rahul/Desktop/iiitm/IIITM_TnP.html/#team" style="max-width: 900px;">TEAM</a>
				<a class="w-nav-link menu-li" href="file:///home/rahul/Desktop/iiitm/IIITM_TnP.html/#process" style="max-width: 900px;">PROCESS</a>
                <a class="w-nav-link menu-li" href="file:///home/rahul/Desktop/iiitm/IIITM_TnP.html/#stats" style="max-width: 900px;">STATISTICS</a>
                <a class="w-nav-link menu-li" href="file:///home/rahul/Desktop/iiitm/IIITM_TnP.html/#contact" style="max-width: 900px;">CONTACT US</a>
                <a class="w-nav-link menu-li" href="/home/rahul/Desktop/iiitm/images/Brochure.pdf" target="_blank"style="max-width: 900px;">FOR RECRUITERS</a>
              </nav>
              <div class="w-nav-button">
                <div class="w-icon-nav-menu"></div>
              </div>
            </div>
          <div class="w-nav-overlay" data-wf-ignore=""></div></div>




        </div>
      </div>
    </div>
  </div>



 

<div class="exp service-parlex">
    <div class="exp-back">
      <div class="w-container">
        <div id="">
        <div class="wrap">
          <div class="w-row exp-des">
            <div class="w-col w-col-12 exp-col1">
              <div class="col1-div">
                <div class="experinc-box">
                <h3 class="experinc-box-h3">Training &amp; Placement Cell<br><br><br>IIIT Senapati Manipur<br><br><br><br><br></h3>
                
                  </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>





  <div class="about-parlex" id="about">
    <section class="parlex7-back">
      <div class="w-container">
        <div id="about-animation">
        <div class="wrap">
          <div class="about">
            <h1 class="about-heading">Who we are?</h1>
            
            <div class="sepreater"></div>
          </div>
          <p class="about-des">Welcome to the Placement Section.The Training &amp; Placement Cell, IIIT Senapati Manipur facilitates the process of placement of students passing out from the Institute besides collaborating with leading organizations and institutes in setting up of internship and training program of students. Some of the functions or responsibilities of the cell includes: 
            Nurture Industry Institute interaction, by organizing
             and coordinating frequent industrial visits, inplant training and projects of
              industrial relevance for the students, with the sole aim of zeroing down the hiatus between the
               industry and the academia.Receives and forwards the feedback pertinent to curriculum improvement 
               from the visiting companies to the faculty, to ensure that the curriculum follows the latest industrial trends.
            The Training &amp; Placement Cell provides the 
            infra-structural facilities to conduct workshops, coding events, group discussions, tests and 
            interviews besides catering to other logistics. The Office interacts with many industries in the 
            country, The industries which approach the institute come under the purview of:Core 
            Engineering industries IT &amp; IT enabled services, ,Manufacturing Industries Consultancy Firms,
             R &amp; D laboratories etc..The Placement Office is assisted by a committee comprising representatives of 
             students from the under-graduate engineering streams. The committee evolves a broad policy framework every year 
             besides a set of rules which are inviolable. 
            Students members are closely co-opted in implementing these policy decisions.</p>
          
          
        </div>
      </div>
      </div>
    </section>
  </div>
<div class="process-parlex">
    <div class="parlex2-back-dir">
      <div class="w-container">
        <div class="wrap">
          <div class="process">
            <h1 class="our-process-heading">Message From Director</h1>
            <div class="sepreater"></div>
          </div>
          <div class="process-text">
            
            <div class="w-row">
              <div class="w-col w-col-9">
                <p>“If you don’t like something, change it. If you can’t change it, change your attitude”  - Maya Angelou</br></br> 
                  
Overwhelmingly, the college shall be completing its first 4 year batch. I request the honour of your company to participate in our campus placement drive. IIITS Manipur is one among the twenty IIITs set up by the Govt. of India in partnership with State Govt and corporate partners. Presently, we have Manipur State IT SEZ Development Company (MIPDCO) as our PPP partner. 
IIIT Senapati provides B. Tech degree in CSE and ECE. Since, the college has been started up to boost the IT sector in the manipur state, we started PhD admissions in 2017. The environment provides a peacefull place to carry on research and workshops to enhance the IT people of the state.

Apart from this, our institute’s mission is to provide technical education by offering state-of-the-art undergraduate, postgraduate and doctoral programmes with international standards of excellence and with emphasis on research to create adept scholars/students.
In nut shell, i strongly once again request you to join our campus placement drive.
Hoping for the BEST.

                <br><br><strong>Prof. Amarendra Kumar Das</strong><br>Professor
                Department of Design,
                IIT Guwahati<br>Interim Director<br> IIIT Senapati Manipur
</p>
               </div>
               <div class="w-col w-col-3">
                <figure>
            <img class="portfolio-images" src="./images/akdas.jpg" width="229px" height="240px">
          </figure>
               </div>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="process-parlex">
    <div class="parlex2-back-pi">
      <div class="w-container">
        <div class="wrap">
          <div class="process"> 
            <h1 class="our-process-heading">Message From Placement  Incharge</h1>
            <div class="sepreater"></div>
          </div>
          <div class="process-text">
            
            <div class="w-row">
              <div class="w-col w-col-9">
                <p>Dear Recruiters, 
                  I extend a cordial invitation for the Placement program at IIIT Senapati Manipur. IIITM offers recruiters access to a unique bouquet of budding technical minds.  Our Students have been selected on an All India basis and are the top 0.5% of the nations talent pool. The students are a mosaic of innovation, brilliance and sincerity with a zeal for making their mark in the world. The breadth of talent available here is unparalled across India, making it the campus-of-choice for its recruiters. The distinguished faculty ,bright students along with a unique course structure create a perfect environment for the development of future technical and managerial leaders. I assure you that your expectations will not just be met but will be surpassed substantially. Warm Wishes and Regards.
                  <br><br><strong>Dr Navanath Saharia</strong><br>Assistant-Professor Incharge,TnP Cell<br>IIIT Senapati Manipur</p>
               </div>
               <div class="w-col w-col-3">
                <figure>
            <img class="portfolio-images" src="./images/Admin2Copy.JPG" width="169px" height="200px">
          </figure>
                        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  

  <div class="process-parlex" id="academics">
    <div class="parlex2-back">
      <div class="w-container">
        <div class="wrap">
          <div class="process">
            <h1 class="our-process-heading">Message From Placement  Incharge</h1>
            <div class="sepreater"></div>
          </div>
          <div class="process-text">
            <div class="process-text"></div>
            <div class="w-row">
              <div class="w-col w-col-4">
                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                   
                </div>
                <img src="./images/nsaharia1.jpg">
                <p class="process-paragraph">Dr Navanth Saharia<br>Placement Coordinator</p>
              </div>

              <div class="w-col w-col-4">
                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                   
                </div>
                <h2></h2>
                <p class="process-paragraph"></p>
              </div>

              <div class="w-col w-col-4">
                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                   
                </div>
                <img src="./images/gaurav.png">
                <p class="process-paragraph">Dr Gaurav Saxena<br>Co-Placement Coordinator</p>
              </div>
              
              
                <br><br><br>
                <p class="process-paragraph">Dear Recruiters, 
                  I extend a cordial invitation for the Placement program at IIIT Senapati Manipur.
                   IIITM offers recruiters access to a unique bouquet of budding technical minds.  
                   Our Students have been selected on an All India basis and are the top 0.5% of the nations
                    talent pool. The students are a mosaic of innovation, brilliance and sincerity with a zeal 
                    for making their mark in the world. The breadth of talent available here is unparalled across
                     India, making it the campus-of-choice for its recruiters. The distinguished faculty ,bright 
                     students along with a unique course structure create a perfect environment for the development
                      of future technical and managerial leaders. I assure you that your expectations will not just 
                      be met but will be surpassed substantially. Warm Wishes and Regards.</p>
                  
             
             
              
            </div>
      
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="process-parlex">
      <div class="parlex7-back">
        <div class="w-container">
          <div class="wrap">
            <div class="process"> 
              <h1 class="our-process-heading">Life at IIIT Senapati Manipur</h1>
              <div class="sepreater"></div>
            </div>
            <div class="process-text">

              <div class="w-row">
                <div class="w-col w-col-9">
                  <p>The college is located in a very secluded place within boundaries of green mountains. The exquisite environment provides peacefull studying contrary to the fast life of imphal. College is very close to both airport as well as the Imphal city. As far as student faculty ratio is considered, the starting bacthes are lucky to have a superb ratio of 1:10. Students have presented IIITS Manipur 
                      at various platforms viz. debate competition at NIT manipur, IIIT Kancheepuram Sports Meet and much more. Overall, the students get themselves acquainted with curriculum, sports and great extra-curriculum activities.
                      Cultural is something with which incredible india is proud off. The diverse cultural activities are also taken care off by our cultural club. Some of the yearly activities include film making, PPT presentations, hindi pakhwada etc.
                      Faculties have maintained a well versed air of research among students to cultivate new innovative ideas. Moreover, the institution gives emphasis on new start-ups as well as some initial funding to starrt-ups as well. for more details visit <a href="http://www.iiitmanipur.ac.in/pages/about.html">here.</a>  </div>
                 <div class="w-col w-col-3">
                  <figure>
                      <img src="./images/Admin2Copy.JPG">
                </figure>
                          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>






      <div class="process-parlex" id="academics">
        <div class="parlex2-back">
          <div class="w-container">
            <div class="wrap">
              <div class="process">
                <h1 class="our-process-heading">Academics Informations</h1>
                <div class="sepreater"></div>
              </div>
              <div class="process-text">
                <div class="process-text"></div>
                <div class="w-row">
                  <div class="w-col w-col-4">
                    <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                       
                    </div>
                    <h4 class="our-process-sys">Computer Science and Engineering</h4>
                    <p class="process-paragraph">The complete Syllabus is up to date as per the Industries and Research & Development Organisation 						requirements. Some of the domains to list out are Machine Learning, Graphics, Image and Video 						proccessing etc. The department has an environment of great NLP background</p>
                  </div>
                  
                  <div class="w-col w-col-4">
                    <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
              
            </div>
                    <h4 class="our-process-sys">Electronic and Communications Engineering</h4>
                    <p class="process-paragraph">The environment is good for nlp, morphologocal studies on manipur languages, signal and speech processing, voice 				activity detection.IC tester etc. </p>
                  </div>

                  
                  <div class="w-col w-col-4">
                    <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
              
            </div>
                    <h4 class="our-process-sys">Workshops &amp; Seminars</h4>
                    <p class="process-paragraph">Cse workshops/lectures from IIT Guwahati professors. Seminars from various leading startups placed in Banglore, Delhi NCR and Guwahati. </p>
                  </div>
                  
                </div>
          
              </div>
            </div>
          </div>
        </div>
      </div>

      
      <div class="process-parlex" id="stats">
        <div class="parlex11-back">
          <div class="w-container">
            <div class="wrap">
              <div class="process">
                <h1 class="our-process-heading">Statistics 2018</h1>
                <div class="sepreater"></div>
              </div>
              <div class="process-text">
                <div class="process-text"></div>
                <div class="w-row">
                  <div class="w-col w-col-4">
                    <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                       
                    </div>
                    <h4 class="our-process-sys">Student - Faculty Ratio</h4> 
                    <img style="margin-right:400px " src="./images/10-1-student-faculty-ratio-rollins-college.png">
             
                  </div>
                  
                  <div class="w-col w-col-4">
                    <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
              
            </div>
                    <h4  class="our-process-sys"></h4>
                   
                  </div>
                  <div class="w-col w-col-4">
                    <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
              
            </div>
                    <h4 class="our-process-sys">Batch - Wise Ratio</h4>
                    <img   src="./images/strength.png">
                </div>
                  
                  
                </div>
                
          
              </div>

              <div class="process-text">
                <div class="process-text"></div>
                <div class="w-row">
                  <div class="w-col w-col-4">
                    <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                       
                    </div>
                    <h4 class="our-process-sys">Student's Performance</h4> 
                    <img style="margin-right:400px " src="./images/marks.png">
             
                  </div>
                  
                  <div class="w-col w-col-4">
                    <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
              
            </div>
                    <h4  class="our-process-sys"></h4>
                   
                  </div>
                  <div class="w-col w-col-4">
                    <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
              
            </div>
                    <h4 class="our-process-sys">Placement Stats</h4>
                    <img  src="./images/choice.png">
                </div>
                  
                  
                </div>
                
          
              </div>

            </div>
          </div>
        </div>
      </div>




  






 <div class="clients-parlex">
    <div class="parlex6-back">
      <div class="container" style="margin-left:7%;">
          <h1 style="color:darkcyan;margin-right: 165px"class="our-process-heading">Summer Internships/Trainings</h1>
                
        <div class="wrap-client">
          <div class="clients-sub">
            <div id="clients">
        <div class="clients-wrap">
          <ul id="clients-list" class="clearfix" style="width: 1200px;">
      
			  
			   
			    
		
				
          <li style="margin-left: 0px;"><a href="https://www.cdac.in/"><img onmouseover="bigImg(this)" onmouseout="normalImg(this)" src="./images/cdac_logo.png" title="C-DAC: Centre for Development of Advanced Computing, India" alt="logo"></a></li></li>
          <li style="margin-left: 0px;"><a href="https://gratiatechnology.com/"><img onmouseover="bigImg(this)" onmouseout="normalImg(this)" src="./images/gratia.jpg"title="Gratia" alt="logo"></a></li>
          <li style="margin-left: 0px;"><a href="https://www.fujitsu.com/in/"><img onmouseover="bigImg(this)" onmouseout="normalImg(this)" src="./images/Fujitsu-760x400.jpg"title="Fujitsu" alt="logo"></a></li>
          <li style="margin-left: 0px;"><a href="https://www.aptronnoida.in/"><img onmouseover="bigImg(this)" onmouseout="normalImg(this)" src="./images/aptron.png"title="Aptron" alt="logo"></a></li>
          <li style="margin-left: 0px;"><a href="https://www.trtcguwahati.org/"><img onmouseover="bigImg(this)" onmouseout="normalImg(this)" src="./images/TRTC.jpg" title="Tool Room and Training Centre, Guwahati"alt="logo"></a></li>
          <li style="margin-left: 0px;"><a href="https://www.ntpcindia.com/"><img onmouseover="bigImg(this)" onmouseout="normalImg(this)" src="./images/NTPC.gif" title=" National Thermal Power Corporation Limited"alt="logo"></a></li>
          <li style="margin-left: 0px;"><a href="https://www.cetpainfotech.com/
            "></a><img onmouseover="bigImg(this)"width="232" height="232" onmouseout="normalImg(this)" src="./images/19_3_2014_12_51_21_6pvmtl1n7btu3p1q7g2mthosa1_9hep0rrqi5.GIF"title="CETPA,Noida" alt="logo"></a></li>
					<li style="margin-left: 0px;"><a href="https://www.iitbhu.ac.in/"><img onmouseover="bigImg(this)" onmouseout="normalImg(this)" src="./images/IITBHU_Logo_.png" title="Indian Institute of Technology(BHU),Varanasi"alt="logo"></a></li>
					<li style="margin-left: 0px;"><a href="https://www.iitg.ac.in"><img onmouseover="bigImg(this)"onmouseout="normalImg(this)" src="./images/iitglogo.png" title="Indian Institute of Technology Guwahati"alt="logo"></a></li>
				
					<li style="margin-left: 0px;"><a href="https://iiitd.ac.in"><img onmouseover="bigImg(this)" onmouseout="normalImg(this)"src="./images/IIITD.png" title="Indraprastha Institute of Information Technology, Delhi"alt="logo"></a></li>
          <li style="margin-left: 0px;"><a href="https://www.bsnl.co.in"><img onmouseover="bigImg(this)" onmouseout="normalImg(this)"src="./images/bsnl_logo_1472115208185.jpeg" title="Bharat Sanchar Nigam Limited"alt="logo"></a></li>
					<li style="margin-left: 0px;"><a href="https://www.jaduniv.edu.in/"><img onmouseover="bigImg(this)" onmouseout="normalImg(this)"src="./images/Jadavpur_University_Logo.png" title="Jadavpur University"alt="logo"></a></li>
					<li style="margin-left: 0px;"><a href="https://www.nehu.ac.in"><img onmouseover="bigImg(this)"onmouseout="normalImg(this)"src="./images/NEHU_Logo_Color.jpg"title="North-Eastern Hill University, Shillong" alt="logo"></a></li>
					<li style="margin-left: 0px;"><a href="https://www.iitp.ac.in"><img onmouseover="bigImg(this)"onmouseout="normalImg(this)"src="./images/iit_patna_logo.png"title="Indian Institute of Technology Patna" alt="logo"></a></li>
					
					
					
					
					
          </ul>
        </div><!-- @end .clients-wrap -->
      </div><!-- @end #clients -->
          </div>
        </div>
      </div>
    </div>
  </div>




  <script>
    function bigImg(x) {
        x.style.height = "400px";
        x.style.width = "370px";
    }
    
    function normalImg(x) {
        x.style.height = "102px";
        x.style.width = "102px";
    }
    </script>






  <div class="process-parlex" id="process">
    <div class="parlex7-back">
      <div class="w-container">
        <div class="wrap">
          <div class="process">
            <h1 class="our-process-heading">OUR PROCESS</h1>
            <div class="sepreater"></div>
          </div>
          <div class="process-text">
            <div class="process-text">Our process is straight forward, simple, &amp; successful.</div>
            <div class="w-row">
              <div class="w-col w-col-4">
                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                   <a href="#" class="hi-icon hi-icon-mail"></a>
                </div>
                <h4 class="our-process-sys">INVITATION</h4>
                <p class="process-paragraph">The Placement Office sends invitations to the companies/organisations along with the relevant information along with the placement brochure</p>
              </div>
              <div class="w-col w-col-4">
                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
          <a href="#" class="hi-icon hi-icon-link"></a>
        </div>
                <h4 class="our-process-sys">CONFIRMATION</h4>
                <p class="process-paragraph">After the company's conformation mail/call , Placement office sends Job Application form to the companies with the relevant information</p>
              </div>
              <div class="w-col w-col-4">
                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
          <a href="#" class="hi-icon hi-icon-list"></a>
        </div>
                <h4 class="our-process-sys">SCHEDULING</h4>
                <p class="process-paragraph">After recieving the filled JAF from the companies , the PPT dates are finalized and the meeting dates are scheduled.</p>
              </div>
              
            </div>
			<div class="w-row">
              
             <div class="w-col w-col-4">
                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
          <a href="#" class="hi-icon hi-icon-pencil"></a>
        </div>
                <h4 class="our-process-sys">RECRUITMENT DRIVE</h4>
                <p class="process-paragraph">The company is given access to all the applications along with their resumes for shortlisting.Then the company orgnanizes recruitment drive to select students.</p>
              </div>
              <div class="w-col w-col-4">
                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
          <a href="#" class="hi-icon hi-icon-location"></a>
        </div>
                <h4 class="our-process-sys">CAMPUS VISIT</h4>
                <p class="process-paragraph">Organizations visit the campus on the selected day and conduct tests/interviews according to their selection procedure.</p>
              </div>
              <div class="w-col w-col-4">
                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
          <a href="#" class="hi-icon hi-icon-user"></a>
        </div>
                <h4 class="our-process-sys">RESULTS</h4>
                <p class="process-paragraph">The company/organization has to furnish the final results as soon as possible after the completion of the selection procedure.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 







 <div class="portfolio-parlex" id="team">
    <div class="parlex3-back">
      <div class="w-container">
        <div class="wrap">
          <div class="portfolio">
            <h1 class="portfolio-heading">Team Members</h1>
            
            
          </div>
          <div class="process-text"><h2></h2></div>
         
            <div class="container demo-1 whiteclass">
      <ul class="grid cs-style-1">
        <li>
	          <h3><a href="https://www.linkedin.com/in/nsaharia/"> Dr Navanath Saharia</a> </h3>
               <p>Computer Science and Engineering<br>Assistant Professor <br>n.saharia@iiitmanipur.ac.in<br>Phone: +91-9678073826   </p>
          
        </li>

		<li><div class="portfolio-parlex" id="contact"></div><h3><a href="https://www.linkedin.com/in/nsaharia/">Dr Gaurav Saxena</a></h3>
                    <p>Electronic and Communications Engineering<br>Assistant Professor<br>saxena.g@iiitmanipur.ac.in<br>Phone: +91-0000000000  </p>
              
         
        </li> <br>  	


<li>
                 <h3><a href="https://www.linkedin.com/in/ashwini-bral-16327615a/">Ashwini Bral</a></h3>
               <p>Computer Science and Engineering<br>TnP Co-ordinator<br>ashwini@iiitmanipur.ac.in<br>Phone: 8987717520  </p>
          
        </li>
		<li><h3><a href="https://www.linkedin.com/in/smriti9631/">Smriti Kumari</a></h3>
                <p>Computer Science and Engineering<br>TnP Co-ordinator<br>
                  smriti@iiitmanipur.ac.in <br>Phone:9631150060</p>
         
          
        </li>
		<li>
		<h3><a href="https://www.linkedin.com/in/amanranjanverma/">Aman Ranjan Verma</a></h3>
              <p>Electronic and Communications Engineering <br>TnP Co-ordinator<br>v.aman@iiitmanipur.ac.in<br> 7085820445 </p>
              </li><li>
    <h3><a href="www.linkedin.com/in/imrrahul">Rahul Ranjan</a></h3><p>
            Computer Science and Engineering<br>TnP Co-ordinator & Web- Team<br>rahul@iiitmanipur.ac.in<br>Phone:7301195754</p>
       
        
        <li><h3><a href="https://www.linkedin.com/in/jayant-singh-8327ab148/">Jayant Singh</a></h3><p>
                  Computer Science and Engineering<br>TnP Co-ordinator <br>jayant@iiitmanipur.ac.in<br>Phone: 9123137331</p>
          
        </li>
        <li>
	         		<h3><a href="https://www.linkedin.com/in/divyanshu-thakur-2142a3150/">Divyanshu</a></h3><p>
                Computer Science and Engineering <br>TnP Co-ordinator <br>divyanshu@iiitmanipur.ac.in<br>Phone: 9873658075</p>
            
        </li>
		
       
      </ul>
    </div>
        </div>
		
      </div>
    </div>
  </div>




























       
	         	

	
    
  


  <div class="footer-parlex" style="text-align:center;" id="contacts">
    <div class="parlex9-back">
      <div class="w-container">
        <div class="wrap">
           <div class="titleheading">
          <!--<a href="#"><img class="logo" src="images/logo.png" alt="Elegance"></a>-->
          <a href="http://www.iiitmanipur.ac.in/index.html"><span style="color:#F74;">TnP</span> <span style="color:white;">IIIT Senapati Manipur<br><br></span></a>
        </div>
          <div class="footer-social" style="text-align:center;">
            <div class="fotter-social-wrap">
              <a href="https://www.facebook.com/"><img class="fotter-social" src="./iiitm/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></a>
              <a href="https://www.linkedin.com/in/iiitmanipur/"><img class="fotter-social" src="./iiitm/linkdin.png" alt="52dd24f2929b601f54000551_linkdin.png"></a>
              <a href="https://plus.google.com/"><img class="fotter-social" src="./iiitm/Google-plus.png" alt="52dd26a55b54031d540005af_Google-plus.png"></a>
            
            </div>
          </div>
          <div>
            <div class="fotter-text"><p class="fotter-quote"></p>
              <br><a href="http://www.iiitmanipur.ac.in/">Home</a> | <a href="http://www.iiitmanipur.ac.in/pages/about.html">About Us</a> | <a href="http://www.iiitmanipur.ac.in/pages/adminIIITM.html"> Administration </a> | <a href="http://www.iiitmanipur.ac.in/pages/coursesOffered.html">  Academics </a> | <a href="http://www.iiitmanipur.ac.in/pages/contact.html"> Contact Us</a><br><br>
              <b>Web Team</b></br>
              <a href="https://www.linkedin.com/in/imrrahul">Rahul Ranjan</a> 
			<br><a  href="#" target="_blank">Job Announcement Form</a> | <a href="./images/Brochure.pdf" target="_blank">Placement Brochure</a> |
			<a href="#" target="_blank">Summer Training </a> 
              <p class="copyright-area"> | <a href="http://www.iiitmanipur.ac.in">IIIT Senapati Manipur</a></p></div>
            </p><br>
          <p style="text-align: center">© 2018 Indian Institute of Information Technology Senapati Manipur. For queries contact <a href="mailto:webmaster@iiitmanipur.ac.in">webmaster@iiitmanipur.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="se-pre-con" style="display: none;"></div>

       
  <script type="text/javascript" src="./iiitm/jquery.js"></script>
  <script type="text/javascript" src="./iiitm/normal.js"></script>
  <script type="text/javascript" src="./iiitm/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="./iiitm/carousels.js"></script>
  <script type="text/javascript" src="./iiitm/slider-modernizr.js"></script>
  <script src="./iiitm/classie.js"></script>
  <script src="./iiitm/portfolio-effects.js"></script>
  <script src="./iiitm/toucheffects.js"></script>
  <script src="./iiitm/modernizr.js"></script>
  <script src="./iiitm/animation.js"></script>
  <script type="text/javascript">
  var data = [
	{
        value: 0,
        color:"#A7464D",
        highlight: "#A05A9F",
        label: "Greater than 30 Lakh p.a"
      },
      {
        value: 12,
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Between 30 Lakh and 20 Lakh p.a"
      },
      {
        value: 13,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Between 20 Lakh and 15 Lakh p.a"
      },
      {
        value: 50,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Between 15 Lakh and 10 Lakh p.a"
      },
      {
        value: 236,
        color: "#537596",
        highlight: "#548485",
        label: "Between 10 Lakh and 6 Lakh p.a"
      },
      {
        value: 220,
        color: "#6378e6",
        highlight: "#548485",
        label: "Between 6 Lakh and 4 Lakh p.a"
      },
      {
        value: 115,
        color: "#ccc",
        highlight: "#555",
        label: "Others"
      }
    ]

        var per_data = {
    labels: ["CSE","ECE"],
    datasets: [
        {
            label: "My First dataset",
            fillColor : "rgba(255,121,101,0.8)",
				strokeColor : "rgba(255,240,255,0.7)",
				highlightFill: "rgba(225,181,187,0.5)",
				highlightStroke: "rgba(0,225,181,1)",
            data: [88,99,96,88,86,88,88,93]
        }
    ]
};
    
options={
    //Boolean - Whether we should show a stroke on each segment
    segmentShowStroke : true,

    //String - The colour of each segment stroke
    segmentStrokeColor : "#fff",

    //Number - The width of each segment stroke
    segmentStrokeWidth : 2,

    //Number - The percentage of the chart that we cut out of the middle
    percentageInnerCutout : 20, // This is 0 for Pie charts

    //Number - Amount of animation steps
    animationSteps : 100,

    //String - Animation easing effect
    animationEasing : "easeOutBounce",

    //Boolean - Whether we animate the rotation of the Doughnut
    animateRotate : true,

    //Boolean - Whether we animate scaling the Doughnut from the centre
    animateScale : false,

    //String - A legend template
    legendTemplate : "<ul style=\"list-style-type:square;margin-top:100px \" class=\"<%=name.toLowerCase()%>-legend\" ><% for (var i=0; i<segments.length; i++){%><li style=\"color:<%=segments[i].fillColor%>; margin:10px\"><span  style=\"color:<%=segments[i].fillColor%>\"><%if(segments[i].label)	{%><%=segments[i].label+\" :&nbsp;&nbsp;&nbsp;&nbsp; \"+segments[i].value %><%  }	 %></li></span><%}%></ul>"

}

options2 = {
    segmentShowStroke:false,
    legendTemplate : "<ul style=\"list-style-type:square;margin-top:100px \" class=\"<%=name.toLowerCase()%>-legend\" ><% for (var i=0; i<segments.length; i++){%><li style=\"color:<%=segments[i].fillColor%>; margin:10px\"><span style=\"color:<%=segments[i].fillColor%>\"><%if(segments[i].label){%><%=segments[i].label+\":&nbsp;&nbsp;&nbsp;&nbsp;\"+segments[i].value%><%}%></li></span><%}%></ul>" 
  }

    
      var data2 = [
   
    {
        value: 667,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Total offers"
    },
    {
        value: 64,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Double offers"
    },
   {
        value: 0,
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Triple offers"
    }
];

  
  
  window.onload = function(){
    var ctx = document.getElementById("canv1").getContext("2d");
    var ctx2 = document.getElementById("canv2").getContext("2d");
    var myPieChart = new Chart(ctx).Doughnut(data,options);
	   var legend= myPieChart.generateLegend();
				$('#piech').html(legend);
      var myLineCHart=new Chart(ctx2).Bar(per_data, {
        ///Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines : false,

    scaleLineColor: "rgba(0,0,0,1)",

    //String - Colour of the grid lines
    scaleGridLineColor : "rgba(0,0,0,.05)",

    //Number - Width of the grid lines
    scaleGridLineWidth : 1,

    //Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,

    //Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines: true,

    //Boolean - Whether the line is curved between points
    bezierCurve : true,

    //Number - Tension of the bezier curve between points
    bezierCurveTension : 0.4,

    //Boolean - Whether to show a dot for each point
    pointDot : true,

    //Number - Radius of each point dot in pixels
    pointDotRadius : 4,

    //Number - Pixel width of point dot stroke
    pointDotStrokeWidth : 1,

    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
    pointHitDetectionRadius : 20,

    //Scale font color
    scaleFontColor: "#FFF",

    //Boolean - Whether to show a stroke for datasets
    datasetStroke : true,

    //Number - Pixel width of dataset stroke
    datasetStrokeWidth : 2,

    //Boolean - Whether to fill the dataset with a colour
    datasetFill : true,

    //String - A legend template
    legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"

});

var ctx3 = document.getElementById("canv3").getContext("2d");
    var x = new Chart(ctx3).Doughnut(data2,options2);
    var legend= x.generateLegend();
        $('#chartd').html(legend);
	
		var barChartData = {
		
		labels: [,'CSE','ECE'],
		//labels : ["Amazon","Google","Facebook","Microsoft","Apple","Webteam","Epic","Nvidia","Adobe","Works Apps","Sun Micro","NASA","Goldman Sachs","Morgan Stanley","Directi","Snapdeal","Flipkart"],
		datasets : [
			
			{
				label:"2015",
				fillColor : "rgba(98,240,135,0.8)",
				strokeColor : "rgba(98,240,135,0.7)",
				highlightFill: "rgba(98,240,135,0.5)",
				highlightStroke: "rgba(98,240,135,1)",
				data : [10.000,27.000,27.000,17.500,7.500,10.110,10.110,7.500,10.000]
			
			}
			
			
		]

	}
	
	var ctx4 = document.getElementById("canv4").getContext("2d");
		window.myBar = new Chart(ctx4).Bar(barChartData, {
			responsive : true,
			maintainAspectRatio: false,
			scaleFontColor: "#fff"
		});


};

  </script>
     <script>
		$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("fast");
	});
	</script>


</body></html>
